{
    "swagger": "2.0",
    "info": {
        "title": "Telecom Car API",
        "description": "HTTP JSON API",
        "version": "1.0.0"
    },
    "host": "api.telecom-car.uz",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json",
        "application/xml",
        "application/x-www-form-urlencoded"
    ],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "paths": {
        "/": {
            "get": {
                "tags": [
                    "Info"
                ],
                "responses": {
                    "200": {
                        "description": "API version",
                        "schema": {
                            "properties": {
                                "version": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/user/roles": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "description": "Returns roles list",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Role"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/user/role": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "description": "Returns role info",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Role"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/user/profile": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "description": "Returns profile info",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Profile"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        }
    },
    "definitions": {
        "ErrorModel": {
            "required": [
                "code",
                "message"
            ],
            "properties": {
                "code": {
                    "type": "integer"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Profile": {
            "required": [
                "id"
            ],
            "properties": {
                "username": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "last_name": {
                    "type": "string"
                },
                "father_name": {
                    "type": "string"
                },
                "subdivision": {
                    "type": "string"
                },
                "position": {
                    "type": "string"
                },
                "main_phone": {
                    "type": "integer"
                },
                "main_address": {
                    "type": "string"
                },
                "phones": {
                    "type": "array",
                    "items": {}
                },
                "addresses": {
                    "type": "array",
                    "items": {}
                }
            },
            "type": "object"
        },
        "Role": {
            "properties": {
                "role": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "securityDefinitions": {
        "OAuth2": {
            "type": "oauth2",
            "flow": "password",
            "tokenUrl": "http://api.telecom-car.uz/oauth2/token"
        },
        "Bearer": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}