{
    "swagger": "2.0",
    "info": {
        "title": "TelecomCar API",
        "description": "HTTP JSON API",
        "version": "1.0.0"
    },
    "host": "api.telecom-car.uz",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json",
        "application/xml",
        "application/x-www-form-urlencoded"
    ],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "paths": {
        "/": {
            "get": {
                "tags": [
                    "Info"
                ],
                "responses": {
                    "200": {
                        "description": "API version",
                        "schema": {
                            "properties": {
                                "version": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/oauth2/token": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "description": "Login OR Refresh token",
                "parameters": [
                    {
                        "name": "login data",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/RequestLogin"
                        },
                        "type": "object"
                    },
                    {
                        "name": "refresh token data",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/RequestRefreshToken"
                        },
                        "type": "object"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response data",
                        "schema": {
                            "property": "data",
                            "type": "object",
                            "$ref": "#/definitions/ResponseAuth"
                        }
                    }
                }
            }
        },
        "/driver/order/{order_id}/completed": {
            "patch": {
                "tags": [
                    "Driver Order"
                ],
                "parameters": [
                    {
                        "name": "order_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/driver/order/{order_id}/take": {
            "patch": {
                "tags": [
                    "Driver Order"
                ],
                "parameters": [
                    {
                        "name": "order_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/serializeOrder"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/driver/order/{order_id}/cancel": {
            "patch": {
                "tags": [
                    "Driver Order"
                ],
                "parameters": [
                    {
                        "name": "order_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/driver/status/active": {
            "patch": {
                "tags": [
                    "Driver"
                ],
                "description": "Sets active status",
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/driver/status/busy": {
            "patch": {
                "tags": [
                    "Driver"
                ],
                "description": "Sets busy status",
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/user/order/active": {
            "get": {
                "tags": [
                    "User Order"
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/user/order/{order_id}/cancel": {
            "patch": {
                "tags": [
                    "User Order"
                ],
                "parameters": [
                    {
                        "name": "order_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/user/order": {
            "get": {
                "tags": [
                    "User Order"
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/serializeOrder"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "User Order"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OrderForm"
                        },
                        "type": "object"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/serializeOrder"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/user/profile/address": {
            "patch": {
                "tags": [
                    "Profile"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AddressForm"
                        },
                        "type": "object"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/user/roles": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "description": "Returns roles list",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Role"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/user/role": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "description": "Returns role info",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Role"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/user/profile": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "description": "Returns profile info",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Profile"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        }
    },
    "definitions": {
        "ErrorModel": {
            "required": [
                "code",
                "message"
            ],
            "properties": {
                "code": {
                    "type": "integer"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RequestRefreshToken": {
            "properties": {
                "grant_type": {
                    "type": "number",
                    "enum": "refresh_token"
                },
                "refresh_token": {
                    "type": "string"
                },
                "client_id": {
                    "type": "string",
                    "enum": "testclient"
                },
                "client_secret": {
                    "type": "string",
                    "enum": "testpass"
                }
            },
            "type": "object"
        },
        "RequestLogin": {
            "properties": {
                "grant_type": {
                    "type": "number",
                    "enum": "password"
                },
                "username": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "client_id": {
                    "type": "string",
                    "enum": "testclient"
                },
                "client_secret": {
                    "type": "string",
                    "enum": "testpass"
                }
            },
            "type": "object"
        },
        "ResponseRefreshToken": {
            "type": "object"
        },
        "ResponseAuth": {
            "properties": {
                "refresh token data": {
                    "properties": {
                        "access_token": {
                            "type": "string"
                        },
                        "expired_in": {
                            "type": "integer"
                        },
                        "token_type": {
                            "type": "string",
                            "enum": "Bearer"
                        },
                        "scope": {
                            "type": "string",
                            "enum": "null"
                        }
                    },
                    "type": "object"
                },
                "login data": {
                    "properties": {
                        "access_token": {
                            "type": "string"
                        },
                        "expired_in": {
                            "type": "integer"
                        },
                        "token_type": {
                            "type": "string",
                            "enum": "Bearer"
                        },
                        "refresh_token": {
                            "type": "string"
                        },
                        "scope": {
                            "type": "string",
                            "enum": "null"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "serializeOrder": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "from": {
                    "properties": {
                        "lat": {
                            "type": "integer"
                        },
                        "lng": {
                            "type": "integer"
                        },
                        "address": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "to": {
                    "properties": {
                        "lat": {
                            "type": "integer"
                        },
                        "lng": {
                            "type": "integer"
                        },
                        "address": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "created_at": {
                    "type": "integer"
                },
                "completed_at": {
                    "type": "integer"
                },
                "status": {
                    "properties": {
                        "name": {
                            "type": "string"
                        },
                        "code": {
                            "type": "integer"
                        }
                    },
                    "type": "object"
                },
                "user": {
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "name": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "driver": {
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "name": {
                            "type": "string"
                        },
                        "car": {
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "model": {
                                    "type": "string"
                                },
                                "number": {
                                    "type": "string"
                                },
                                "color": {
                                    "properties": {
                                        "name": {
                                            "type": "string"
                                        },
                                        "hex": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "OrderForm": {
            "properties": {
                "from_lat": {
                    "type": "number"
                },
                "from_lng": {
                    "type": "number"
                },
                "from_address": {
                    "type": "string"
                },
                "to_lat": {
                    "type": "number"
                },
                "to_lng": {
                    "type": "number"
                },
                "to_address": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Profile": {
            "required": [
                "id"
            ],
            "properties": {
                "username": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "last_name": {
                    "type": "string"
                },
                "father_name": {
                    "type": "string"
                },
                "subdivision": {
                    "type": "string"
                },
                "position": {
                    "type": "string"
                },
                "main_phone": {
                    "type": "integer"
                },
                "main_address": {
                    "type": "string"
                },
                "phones": {
                    "type": "array",
                    "items": {}
                },
                "addresses": {
                    "type": "array",
                    "items": {}
                },
                "status": {
                    "properties": {
                        "code": {
                            "type": "integer"
                        },
                        "text": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Role": {
            "properties": {
                "role": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AddressForm": {
            "properties": {
                "name": {
                    "type": "string"
                },
                "lat": {
                    "type": "number"
                },
                "lng": {
                    "type": "number"
                }
            },
            "type": "object"
        }
    },
    "securityDefinitions": {
        "OAuth2": {
            "type": "oauth2",
            "flow": "password",
            "tokenUrl": "http://api.telecom-car.uz/oauth2/token"
        },
        "Bearer": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}